.main{
    display: flex;
}
.abc{
    display: flex;
    
}
.abc:focus{
    outline: none;
    border-color: #FF432A;

}

*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-family: montsrrat,sans-serif;
}
input{
    appearance: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
}
form{
    display: block;
    position: relative;
}


form.form-inner.form-group{
    display: block;
    margin-bottom: 300px;
    width:300px;
}
label{
    font-size: 1.2vw;
    font-weight: 200;
    font-family: sans-serif;
    color:black;
    
}

.register-button{
    padding: 1vw 11.5vw;
    border-radius: 50px;
    background-color: #FF432A;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.2vw;
    
}

.right-col{
    margin-left:3%;
    margin-top: 5%;
    margin-right: 3%;
    width:60%;
}

.picture{
    width: 63%;
    max-height:fit-content;
    padding: auto;
}
.link{
    color: #FF432A;
}