/* body{
    background-image: url('../../images/authImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
} */
a {
    text-decoration: none;
  }
  .errormsg{
    color: #FF432A;
    text-align: center;
    margin-top: 1vw;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 300px;
    margin: 10rem auto 8.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 3px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
    font-size: 1rem;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #bc584b, #FF432A);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #dd6d5e;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.25s;
    width: 153px;
  }

  #submit-btn:disabled{
    background-color: grey;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #FF432A;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right,#e28a7f, #FF432A);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #e28a7f, #FF432A);
    height: 2px;
    margin: 1.1rem auto 0 auto;
    width: 89px;
  }
  