.TextType {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	width: 100%;
	max-width: 500px;
	border-bottom: 2px solid black;
}

.TextType > input {
	outline: none;
	border: none;
	background: transparent;
	width: 100%;
}

.multipleChoiceType > .option {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.multipleChoiceType > .option > input[type="text"] {
	font-size: 1rem;
	margin-bottom: 0.2rem;
	font-weight: 300;
	width: 100%;
	border: none;
	outline: none;
}

.multipleChoiceType > .option > input[type="text"]::placeholder {
	font-size: 1rem;
}

.multichoiceIcon:hover {
	color: #ff432a;
}
