.underline {
	color: #ff432a;
	margin-bottom: 2rem;
}
.clap {
	width: 12vw;
	min-width: 5rem;
	display: flex;
	align-items: center;
}
.thankyou {
	font-family: "Bebas Neue";
	font-weight: 900;
	letter-spacing: 5.5px;
	font-size: 27px;
	margin-bottom: 1rem;
}

.ressub {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1rem;
}
.contentdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formname {
	font-size: 27px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: black;
	text-align: center;
}
.mainb {
	display: flex;
	justify-content: center;
	align-items: center;
}

.submittedPage {
	width: 100vw;
	height: var(--vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../../images/authImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.submittedContent {
	background-color: #fff7f2;
	width: 80vw;
	height: calc(var(--vh) - 20vh);
	border-radius: 20px;
	padding: 0.75rem 2rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

@media only screen and (max-width: 1205px) {
	.submittedContent {
		width: 95vw;
		height: auto;
		min-height: 80vh;
		padding: 1rem;
	}
}

@media only screen and (max-width: 430px) {
	.submittedContent {
		/* width: 98vw;
		height: calc(var(--vh) - 2vh); */
		padding: 0.5rem;
	}
}
